import pytest

from apps.accounts.models import User


@pytest.mark.django_db
def test_email_is_login_identifier():
    user = User.objects.create_user("admin@example.com", "correct-horse-battery-staple")
    assert user.username is None
    assert user.check_password("correct-horse-battery-staple")
