NOXUS_ENVIRONMENT=development
NOXUS_SITE_NAME=noxus.localhost
NOXUS_HTTP_PORT=8080
NOXUS_DB_PASSWORD=change-me
NOXUS_ADMIN_PASSWORD_FILE=.noxus/secrets/admin-password
NOXUS_FRAPPE_VERSION=16.28.0
NOXUS_ERPNEXT_VERSION=16.29.0
NOXUS_MARIADB_VERSION=11.8.6
NOXUS_REDIS_VERSION=7.2.14
